.form-control {
  display: flex;
  text-align: start;
  flex-direction: column;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.signup-form {
  width: 20rem;
  min-width: 30%;
  max-width: 90%;
  margin: auto;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.signup-form-control {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 5px;
}

.signup-form-control input,
.signup-form-control textarea {
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
}

.signup-form-control input:focus,
.signup-form-control textarea:focus {
  outline-color: #00695c;
}

.error {
  color: red;
}